In [1]:
import pandas as pd
import united_states

In [2]:
w2 =  pd.read_csv('data/weather_radar_stations.csv')
# Change names to something that can just be readily used by the module.
w2.rename(columns={'y': 'lat','x':'lon'}, inplace=True)

#Lat = Y Long = X

In [3]:
w2.head()

,lon,lat,objectid,siteid,sitename,radartype,antennaelevation
0,-98.413046,45.455833,1,KABR,ABERDEEN,NEXRAD,Unknown
1,-106.823880,35.149722,2,KABX,ALBUQUERQUE,NEXRAD,Unknown
2,-77.007491,36.983889,3,KAKQ,NORFOLK,NEXRAD,Unknown
3,-101.709269,35.233333,4,KAMA,AMARILLO,NEXRAD,Unknown
4,-80.413048,25.610556,5,KAMX,MIAMI,NEXRAD,Unknown

In [14]:
len(w2[w2.antennaelevation == 'Unknown'])

156

In [5]:
w2.head(5)

,lon,lat,objectid,siteid,sitename,radartype,antennaelevation
0,-98.413046,45.455833,1,KABR,ABERDEEN,NEXRAD,Unknown
1,-106.823880,35.149722,2,KABX,ALBUQUERQUE,NEXRAD,Unknown
2,-77.007491,36.983889,3,KAKQ,NORFOLK,NEXRAD,Unknown
3,-101.709269,35.233333,4,KAMA,AMARILLO,NEXRAD,Unknown
4,-80.413048,25.610556,5,KAMX,MIAMI,NEXRAD,Unknown

In [6]:
# Create a US
us = united_states.UnitedStates()
# Need a states list to check in 
states_list =  [i.name for i in us.states]
count = 0
def assign_states(lat,lon):
    global count
    returnVal = us.from_coords(lat,lon)
    count += 1
    if not count %500:
        print("Count at {}".format(count))
    if  not len(returnVal) > 0:
        return "NA"
    return returnVal[0].name

In [7]:
%%time
w2['state'] = w2.apply(lambda row: assign_states(row.lat,row.lon),axis=1)

CPU times: user 11 s, sys: 21.3 ms, total: 11.1 s
Wall time: 11.1 s

In [15]:
w2.to_csv('data/weather_radar_stations_state.csv',index=False)

In [16]:
w2.sample(10)

,lon,lat,objectid,siteid,sitename,radartype,antennaelevation,state,color
184,-80.491000,25.758000,185,TMIA,Miami,TDWR,125,Florida,#0000FF
40,-110.630270,31.893611,41,KEMX,TUCSON,NEXRAD,Unknown,Arizona,#FF0000
146,-156.629431,58.679444,147,PAKC,KING SALMON FAA (RDA 1),NEXRAD,Unknown,Alaska,#FF0000
100,-83.401935,36.168333,101,KMRX,KNOXVILLE,NEXRAD,Unknown,Tennessee,#FF0000
113,-80.217935,40.531667,114,KPBZ,PITTSBURGH,NEXRAD,Unknown,Pennsylvania,#FF0000
191,-75.069000,39.949000,192,TPHL,Philadelphia,TDWR,153,New Jersey,#0000FF
128,-82.401936,27.705278,129,KTBW,TAMPA,NEXRAD,Unknown,Florida,#FF0000
116,-104.181380,38.459444,117,KPUX,PUEBLO,NEXRAD,Unknown,Colorado,#FF0000
2,-77.007491,36.983889,3,KAKQ,NORFOLK,NEXRAD,Unknown,Virginia,#FF0000
68,-87.284991,36.736667,69,KHPX,FT CAMPBELL,NEXRAD,Unknown,Kentucky,#FF0000

In [10]:
def assign_color(row):
    if row['radartype'] == 'NEXRAD':
        return '#FF0000'
    return '#0000FF'

In [11]:
w2['color'] = w2.apply(lambda row: assign_color(row),axis=1)